/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.simplecolorpicker
 *= require bootstrap-datepicker
 *= require clockface
 */

html, body {
  font-family: 'Linux libertine', serif;
  font-size: 12pt;
}

label.error {
  display: inline;
  padding: 0 .7em;
  color: #f00;
}

h1 {
  font-family: 'Linux Biolinum', sans-serif;
}

input, select, textarea {
  font-size: 100%;
}

a {
  color: #08f;
  text-decoration: none;
}
.errorExplanation {
  border: 2px solid #f00;
  background-color: #fff0f0;
  margin: 1em 0;
}
.errorExplanation h2 {
  color: #fff;
  background-color: #f00;
  padding: .3em .7em;
  margin: 0;
  font-family: 'Linux Biolinum', sans-serif;
  font-size: 12pt;
  font-weight: bold;
}
.errorExplanation p {
  padding: 0 1ex;
}

div.field_with_errors {
  padding: 0;
  margin: 0;
  display: inline;
  color: #f00;
}

div.ui-datepicker-div {
  font-size: 80%;
}

.flush-right {
  text-align: right;
}

.datepicker, .bootstrap-timepicker-component {
  display: inline;
  margin-top: 0 !important;
  margin-right: 1ex;
  padding: 0 !important;
}
