/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.slider
 *= require jquery.ui.datepicker
 *= require jquery.simplecolorpicker
 */

html, body {
  font-family: 'Linux libertine', serif;
  font-size: 12pt;
  height: 100%;
}

label.error {
  padding: 0 .7em;
  color: #f00;
}

h1 {
  font-family: 'Linux Biolinum', sans-serif;
}

input, select, textarea {
  font-size: 100%;
}

a:link {
  color: #08f;
  text-decoration: none;
}
a:visited {
  color: #08f;
}
a:hover {
  color: #08f;
}

div.field_with_errors {
  padding: 0;
  margin: 0;
  display: inline;
  color: #f00;
}

div.ui-datepicker-div {
  font-size: 80%;
}
