// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$today_width: 3px;
$today_border_color: #06a;

$calendar_border_color: #E5E5E5;

table.calendar {
  border-collapse: collapse;
  border-bottom: 1px solid #000;
  width: 100%;
  margin: 1em 0;
  table-layout: fixed;
}

table.calendar .nav {
  margin: 0;
}

table.calendar tr a.event {
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.calendar tr a.event:visited {
  color: #000;
}

table.calendar tr a.event:hover {
  color: #00f;
}

table.calendar tr th {
  text-align: center;
  font-style: italic;
}

table.calendar tr td {
  font-family: Verdana, sans-serif;
  // font-family: 'Linux Biolinum', sans-serif;
  font-size: 8pt;
  line-height: 15px;
  width: 14.28%;
  padding: 0 4px 2px 4px;
  vertical-align: top;
}

table.calendar tr td .event {
  margin: 0;
  padding: 2px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  display: block;
}

table.calendar tr td .event.continue {
  border-right-style: dotted;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-image: url(image_path('right-arrow.png')) !important;
  background-repeat: no-repeat;
  background-position: center right !important;
  background-origin: padding-box;
  padding: 2px 1.5ex 2px 1ex;
}

table.calendar tr td .event.continued {
  border-left-style: dotted;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-image: url(image_path('left-arrow.png')) !important;
  background-repeat: no-repeat;
  background-position: center left !important;
  background-origin: padding-box;
  padding: 2px 1ex 2px 1.5ex;
}

table.calendar tr td .event.continued.continue {
  background-image: url(image_path('left-arrow.png')), url(image_path('right-arrow.png')) !important;
  background-position: center left, center right !important;
  padding: 2px 1.5ex;
}

table.calendar tr td .event.free {
  opacity: .3;
}

table.calendar tr.week-days-number td {
  border: {
    width: 1px 1px 0 1px;
    color: $calendar_border_color;
    style: solid;
  }
  padding: 0 2px;
}

table.calendar tr.week-days-number td.today {
  border: {
    width: $today_width $today_width 0 $today_width;
    color: $today_border_color;
  }
}

table.calendar tr.week-days-number td.other-month {
  li.dropdown {
    a.dropdown-toggle {
      color: #AAAAAA;
      .caret {
         border-bottom-color: #AAAAAA;
         border-top-color: #AAAAAA;
      }
    }
    &.open {
      a.dropdown-toggle {
        color: #fff;
        .caret {
           border-bottom-color: #fff;
           border-top-color: #fff;
        }
      }
    }
  }
}

table.calendar tr td.saturday, table.calendar tr td.sunday {
  background-color: whiteSmoke;
}
table.calendar tr td.other-month {
  background-color: #e8e8e8;
}
table.calendar tr td.today {
  background-color: #def;
}
table.calendar tr.week-days-number td.today {
  color: #08f;
  font-weight: bold;
}

table.calendar tr.week-events td {
  border: {
    width: 0 1px;
    style: solid;
    color: $calendar_border_color;
  }
}

table.calendar tr.week-events td.ends-today {
  border-right: {
    width: $today_width;
    color: $today_border_color;
  }
}

table.calendar tr.week-events td.today:not([colspan]) {
  border: {
    width: 0 $today_width;
    color: $today_border_color;
  }
}

table.calendar tr.week-events td.today[colspan] {
  border-left: {
    width: $today_width;
    color: $today_border_color;
  }
}

table.calendar tr.week-end td {
  border: {
    style: solid;
    color: $calendar_border_color;
    width: 0 1px 1px 1px;
  }
}

table.calendar tr.week-end td.today {
  border: {
    width: 0 $today_width $today_width $today_width;
    style: solid;
    color: $today_border_color;
  }
}

table.calendar tr td .multi-day {
  text-align: center;
}

table.calendar tr td .multi-day .start-hour {
  float: left;
}
table.calendar tr td .multi-day .stop-hour {
  float: right;
}

#calendar-menu, #month-menu, #year-menu {
  display: none;
  float: left;
}
