// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
  border-bottom: 1px solid #000;
  width: 100%;
}

table caption {
  font: {
    family: 'Linux Biolinum', sans-serif;
    weight: bold;
    size: 2em;
  }
  padding: .67em 0;
}

table caption a {
  font-size: 50%;
  vertical-align: middle;
  margin: 0 2em;
}

table tr a:link {
  color: #000;
}

table tr a:visited {
  color: #000;
}

table tr a:hover {
  color: #00f;
}

tr th {
  font-style: italic;
}

tr td {
  font-family: Verdana, sans-serif;
  // font-family: 'Linux Biolinum', sans-serif;
  font-size: 8pt;
  width: 14.28%;
  padding: 0 2px 2px 2px;
  vertical-align: top;
}

tr td .event {
  margin: 0;
  padding: 2px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  display: block;
}

tr td .event.continue {
  border-right-style: dotted;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-image: url(image_path('right-arrow.png'));
  background-repeat: no-repeat;
  background-position: center right;
  background-origin:content-box;
  padding: 2px 1ex;
}

tr td .event.continued {
  border-left-style: dotted;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-image: url(image_path('left-arrow.png'));
  background-repeat: no-repeat;
  background-position: center left;
  background-origin:content-box;
  padding: 2px 1ex;
}

tr td .event.continued.continue {
  background-image: url(image_path('left-arrow.png')), url(image_path('right-arrow.png'));
  background-position: center left, center right;
}

tr.week-days-number td {
  border: {
    width: 1px 1px 0 1px;
    color: #000;
    style: solid;
  }
  padding: 1ex;
}

tr.week-days-number td.other-month {
  color: #666;
  }

tr td.other-month {
  background-color: #eee;
}
tr td.today {
  background-color: #def;
}
tr.week-days-number td.today {
  color: #08f;
  font-weight: bold;
}

tr.week-events td {
  border: {
    width: 0 1px;
    style: solid;
    color: #000;
  }
}

.multi-day {
  text-align: center;
}
